<header class="bar-header">
    <a id="menu">
        <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
    </a>
    <a id="search" class="dosearch">
        <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
    </a>
    <h1 class="logo">
        <a href="{{ site.baseurl }}/">
            Toothless.Top
        </a>
    </h1>
    <a href="{{ site.baseurl }}/">
            中文
        </a>
     <a href="{{ site.baseurl }}/">
            English
        </a>

</header>

<div id="mask" class="overlay"></div>

{% include menu.html %}
{% include search.html %}
